<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Server=(localdb)\\mssqllocaldb;Database=aspnet-Buco-20CC24CF-D6CB-40BE-A809-B19F62CF2CFC;Trusted_Connection=True;MultipleActiveResultSets=true"/>
  </connectionStrings>
  <appSettings>
    <add key="pageSize" value="10"/>
    <add key ="pageOffSet" value="10"/>
    <add key="IconPath" value="..\\icon.ico"/>
  </appSettings>
</configuration>