@{
    ViewData["Title"] = "Info";
}
<div class="wrapper">
    <h1>Why should you use Chubster?</h1>
    <p class="lead">Learn more about Chubster.</p>
    <hr />
    <img src="~/images/252_21023_1.jpg" class="img-fluid" />
    <h3 class="text-primary">The problem of pet obesity and how to tackle it.</h3>
    <p>
        Many pets today, like us humans, suffer from obesity. Our fast-paced lifes leave little room for exercise.
        Just like us, our pets suffer to. Most pets don't get enough exercise which leads to obesity.
        Many pet owners also overfeed their furry friends. Most of us don't know how to feed our animals.
        How much calories does my cat or dog need to eat during the day is a question most of us don't know the answer to.
        Overfeeding pets and lack of exercise lead to fat and obese pets, which in turn leads to caridovascular problems and early death.
    </p>
    <hr />
    <h3 class="text-primary">How to tackle this problem?</h3>
    <p>
        Chubster is a web application that alows it users to track their pets weight, daily calorie intake and daily exercise.
        It helps pet owners in keeping track of their pets weight.
    </p>
    <hr />
    <h3 class="text-primary">Track your pets weight, activity and calorie intake</h3>
    <p>
        Chubster allows you to keep a diary of your pets weight, calorie intake and activity.
        It allows ypu to visualize inputed data by providing graphs and tables.
    </p>
    <hr />
    <h3 class="text-primary">Is your pet obese? Or do you just want to keep your pet healthy?</h3>
    <p>
        Then Chubster can be of great use to you! Aside from keeping a diary of your pets weight, calorie intake and daily activity,
        it also serves as a source of useful information on how to keep your pet healthy!
    </p>
    <hr />
    <h2><a asp-area="Identity" asp-page="/Account/Register">Start using Chubster today!</a></h2>
</div>