@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}
<div class="wrapper">
    <h1>@ViewData["Title"]</h1>
    <div class="row">
        <div class="col-md-4">
            <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <h5>Welcome to Chubster! To start using Chubster you need to register!</h5>
                <p>Please provide an unique e-mail and a password to create an account.</p>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.ConfirmPassword"></label>
                    <input asp-for="Input.ConfirmPassword" class="form-control" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">Register</button>
                    </div>
                </div>
                <div class="form-group">
                    <p>
                    <a asp-area="Identity" asp-page="/Account/Login">Already have an account? Login!</a>
                    </p>
                </div>
            </form>
        </div>
        <div class="col-8">
            <img class="img-fluid" src="~/images/trixie-cat-trees-scratch-posts-43331-64_1000.jpg" />
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
